h1 {
    font-size: 2rem;
    text-align: center;
    color: red;
}
.part {
    text-align: center;
    font-size: 30px;
}
#first-exercices {
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

h2 {
    font-size:larger;
}

hr{
    width:500px;
    margin-left: 0;
}
